.Welcome{
    width: 700px;
    margin: auto;
    height: 300px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: #9F1B1B;
    border-radius: 15px;
}

.Text{
    width: 70%;
    background-color : white;
    margin: auto;
    border-style: groove;
    border-radius: 25px;
    border-color: black;
    text-align: center;
}

/*@media(min-width: 1000px) and (min-height: 600px){
    .Welcome{
        width: 700px;
        height: 600px;
    }
}
*/
@media(max-width: 730px) {
    .Welcome{
        width: 450px;
        height: 400px;
    }
}

@media(max-width: 500px) {
    .Welcome{
        width: 350px;
        height: 500px;
    }
}

